{% extends "base.html" %}

{% load static %}

{% block title %} Главная {% endblock %}

{% block content %}
  <h1 class='title'>Чат: {{ room_name|safe }}</h1>
    <h3>Сообщения</h3>

    <div class="chat col-12">

        <div id="chat-log">
    
        </div>
    
        <input id="chat-message-input" type="text" maxlength="1024" autofocus placeholder="Введите сообщение...">
        
        <input id="chat-message-submit" type="button" value="Send">
    </div>

    {{ room_name|json_script:"room-name" }}

    <script src="{% static 'js/sockets.js' %}">
    </script>
{% endblock %}