{% extends 'base.html' %}

{% load static %}

{% block title %} Группа {{ group.name|safe }} {% endblock %}

{% block content %}
  {% include '../includes/sidebar.html' %}
    <div class='content col-xl-9 h-100'>
      {% if is_member %}
        {% include '../includes/clear_group_messages_confirm.html' with group=group %}
        <h1 class='title' title='{{ group.slug }}'>Чат: {{ group.name|safe }}</h1>
        <div class='chat col-12'>
            <div class="chat__options">
                <span class="chat__group-slug">
                  {{ group.slug|safe }}
                </span>
               {% if user.id == group.owner.id %}
                <a class='chat__clear-messages'>
                  <svg viewBox="0 0 32 32"><path class="cls-1" d="M17.39,16l7.32-7.32a1,1,0,1,0-1.39-1.39L16,14.61,8.68,7.29A1,1,0,1,0,7.29,8.68L14.61,16,7.29,23.32a1,1,0,1,0,1.39,1.39L16,17.39l7.32,7.32a1,1,0,0,0,1.39-1.39Z"/><path d="M16,32A16,16,0,1,1,32,16,16,16,0,0,1,16,32ZM16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Z"/></svg>  
                </a>
              {% endif %}
                
              <a href="" class='chat__edit'>
                      {% comment %} #TODO RENAME GROUP {% endcomment %}
                      <svg viewBox="0 0 32 32"><path d="M0,31a.74.74,0,0,0,.89.88l7.26-1.76L1.66,23.63Z"/><rect x="3.26" y="12.28" width="23.3" height="9.2" transform="translate(-7.57 15.49) rotate(-44.98)"/><path d="M31.35,3.82,28.44.92a2.87,2.87,0,0,0-4.06,0L21.59,3.7l6.51,6.51L31.35,7A2.23,2.23,0,0,0,31.35,3.82Z"/></svg>
              </a>
            </div>
            <div id='chat-log'>
              <span class='chat-log__title-message-container'>
                <span>
                ✨ <a href='{% url 'users:user_detail' group.owner.id %}'>{{ group.owner.username|capfirst }}</a> создал группу {{ group.name }}! ✨
                </span>
              </span>
              {% for message in messages.all %}
                {% if message.user == user %}
                  <div class='message current-user-message'>
                    <span class='message__author'>
                      {{ message.user.username }} 
                    </span>
                    <p class='message__text'>{{message.text|safe}}</p>
                    {% if message.text|length > 7 %}
                      <span class='message__time' style='{margin-top: 0}'>{{ message.time }} </span>
                    {% else %}
                      <span class='message__time'>{{ message.time }} </span>
                    {% endif %}
                  </div>
                {% else %}
                  <div class='message'>
                    <span class='message__author'>
                      {{ message.user.username }} 
                    </span>
                    <p class='message__text'>{{message.text|safe}}</p>
                    <span class='message__time'>{{ message.time }} </span>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class='chat__sendings'>
              <textarea 
                      id='chat-message-input'
                      maxlength='1024'
                      placeholder='Введите сообщение...'
                      rows='1'
                      ></textarea>
              <button id='chat-message-submit' title='Отправить сообщение'>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><polygon class="cls-1" points="30.58 16 1.42 2 8.42 16 1.42 30 30.58 16"/></svg>
              </button>
            </div>
        </div>
        <script type='text/javascript' src='{% static "js/auto_textarea_resizing.js" %}'></script>
        <script type='text/javascript' src='{% static "js/clear_group_messages_confirm.js" %}'></script>
        <script type='text/javascript' src='{% static "js/page_reload_listener.js" %}'></script>
        {% include '../includes/websocket_data.html' with connection_type=connection_type connection_name=group.slug %}
      {% else %}
        <h1 class='title'>Вы не состоите в этой группе 😔</h1>
      {% endif %}
    </div>
{% endblock %}