{% extends 'base.html' %}

{% load static %}

{% block title %} Группы {% endblock %}

{% block content %}
  {% include '../includes/sidebar.html' %}
    <div class='content col-xl-9 h-100'>
      <h1 class='title'>Группы</h1>
      <button class='create-group-btn'>
        <a href='{% url "groups:create" %}'>Создать группу</a>
      </button>
      <input class="search-bar" type="text" placeholder="Поиск.." id="js-search">
      <div class='groups-list list' id="js-list-container">
        {% for group in groups %}
           <a class='group item' href='{% url "groups:group" group.slug %}'>
              <div class='group__img item__img'>
                  {% if group.image %}
                      <img src='{{ group.get_image_x256.url }}'>
                  {% else %}
                      <span>{{ group.name|make_list|first|capfirst  }}</span>
                  {% endif %}
              </div>
              <span class='group__name item__name'>
                {{ group.name }}
              </span>
            </a>
        {% endfor %}
      </div>
    </div>
    <script src="{% static 'js/search_bar.js' %}"></script>
{% endblock %}