{% extends "base.html" %}

{% load static %}

{% block title %} Про проект {% endblock %}

{% block content %}
  {% include '../includes/sidebar.html' %}
    <div class='content col-xl-9 h-100'>
      <h1 class='title'>О проекте</h1>
      <q> Текстовый чат, основанный на веб-сокетах. Пользователи могут общаться друг с другом, создавать группы и каналы </q>
        <div class="row h-100">
            <div class="content col-xl-3 h-100">
              <h3><a href="https://github.com/Yakser/django-websocket-chat">Github</a></h3>
            </div>
            <div class="content col-xl-3 h-100">
            </div>
            <div class="content col-xl-3 h-100">
            </div>
            <div class="content col-xl-3 h-100">
            </div>
        </div>
    </div>
{% endblock %}