{% extends 'base.html' %}

{% block title %}
    Список пользователей
{% endblock %}

{% block content %}

    {% include '../includes/sidebar.html' %}
    <div class='content col-xl-9 h-100'>
        <h1 class='title'>Список пользователей</h1>
        <div class='users-list'>
            {% for user in users %}
                <div class='users-list__item'>
                    <a href='{% url "users:user_detail" user.id %}'>{{user.username|truncatechars:50}}</span>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}


 



