{% extends 'base.html' %}

{% block title %}
    Профиль {{ user.username|safe }}
{% endblock %}

{% block content %}
    {% include '../includes/sidebar.html' %}
    <div class='content col-12 col-xl-9 h-100'>
        <h1 class='title'>Профиль пользователя {{ user.username|safe }}</h1>
        <div class='user-detail-container col-12'>
            <div class='user-info'>
                <div class='user-info__top'>
                    <div class='user-img user-info__img'>
                        {% if user.profile.image %}
                            <img src='{{ user.profile.get_image_x256.url }}'' alt='user image' class='img img-responsive'>
                        {% else %}
                            <span>{{ user.username|make_list|first|capfirst  }}</span>
                        {% endif %}
                    </div>
                    <span class='user-info__name'>{{user.username}}</span>
                </div>
                {% if user.email %}
                    <div class="user-info__row">
                        <span class='user-info__value user-info__email'>{{user.email}}</span>
                        <span class="user-info__row-title">
                            Почта
                        </span>
                    </div>
                {% endif %}
                {% if user.profile.biography %}
                    <div class="user-info__row">
                        <span class='user-info__value user-info__bio'>{{user.profile.biography}}</span>
                        <span class="user-info__row-title">
                            О себе
                        </span>
                    </div>
                {% endif %}
                <a href="{% url 'chats:redirect_or_create'%}?username={{user.username}}">
                    <button>
                        Написать
                    </button>
                </a>
            </div>
        </div>
        
    </div>
{% endblock %}