{% extends "base.html" %}
{% load static %}
{% block title %} Главная {% endblock %}
{% block content %}
        {% if request.user.is_authenticated %}
            {% include '../includes/sidebar.html' %}
             <div class='content col-xl-9 h-100'>
                {% include '../includes/homepage_content.html' %}
            </div>
        {% else %}
            <div class='content container-fluid h-100'>
                {% include '../includes/homepage_content.html' %}
                <div class="btns-container">
                    <a href="{% url 'users:signup' %}" class="signup-btn submit-btn">Зарегистрироваться</a>
                    <a href="{% url 'users:login' %}" class="login-btn submit-btn">Войти</a>
                </div>
            </div>
        {% endif %}
{% endblock %}