@import 'variables';
*,
html,
::before,
::after {
    margin: 0;
    padding: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

a,
a:visited, a:hover {
    color: $white;
    text-decoration: none;
}
ul {
    margin-bottom: 0;
}
fieldset {
    border: none;
}

input,
textarea,
button {
    font-family: 'Istok Web', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
}

p {
    margin-bottom: 0;
}