@import "reset";
@import "variables";
body {
    background-color: $bg;
    color: $white;
}
.wrapper {
    min-height: 100vh;
}

input:not([type="checkbox"]):not([type="radio"]),
button,
textarea {
    background-color: $gray;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.05);
    color: $white;
    border-radius: 15px;
    padding: 5px 15px;
    outline: 1px solid transparent;
    transition: $transition;
    &:hover {
        background-color: lighten($gray, 5%);
    }
    &:focus,
    &:focus-visible {
        outline: 1px solid $blue;
    }
}

textarea {
    resize: vertical;
    width: 100%;
}

input[type="button"],
input[type="submit"],
button[type="submit"] {
    cursor: pointer;
}

.chat {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#chat-log {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 80vh;
    overflow-y: scroll;
    padding: 15px;
    top: 0;
    border: 1px solid $gray;
    border-radius: 15px;
    &::-webkit-scrollbar {
        width: 0px;
    }
    &::-webkit-scrollbar-track {
        background-color: $gray;
        border-radius: 10000px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $light-gray;
        border-radius: 10000px;
    }
    font-size: 0.85rem;
}

.message {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.05);
    padding: 7px 15px;
    background-color: $transparented-light-gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 125px;
    max-width: 75%;
}
.current-user-message {
    background-color: $light-gray;
}
.message__time {
    font-size: 0.7rem;
    opacity: 0.7;
    font-weight: 300;
    align-self: flex-end;
}
.message__text {
    overflow-wrap: break-word;
    margin: 0;
}
.message__author {
    color: $blue;
    font-size: 1rem;
    font-weight: 500;
    margin-block-end: 2px;
}

.base-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $gray;
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto;
    .base-form__errors {
        font-size: 1rem;
        margin-block-end: 5px;
        display: flex;
        flex-direction: column;
    }
    .base-form__form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    button {
        width: max-content;
    }
}

.base-form__form-row {
        display: flex;
        flex-direction: column;
        margin-block-end: 20px;
        label {
            margin-inline-end: 5px;
            font-size: 1.1rem;
            font-weight: 500;
        }
        small {
            width: 100%;
            margin-block-start: 5px;
            opacity: 0.5;
        }
        input {
            width: 100%;
        }
        input[type="checkbox"] {
            display: inline-block;
            width: max-content;
            margin-inline-end: 5px;
        }
        .base-form__image-link {
            display: block;
            width: 100%;
            text-decoration: underline;
            color: $blue;
            margin-block-end: 5px;
        }
    }

.base-form__link {
    margin-block-start: 5px;
}
.base-form__star {
    color: rgba($blue, .5);
    font-size: 1rem;
}

.base-form__field-errors, .base-form__errors {
    display: flex;
    flex-direction: column;
    margin-block-end: 5px;
    span {
        color: $red;
        font-size: 1rem;
        font-weight: 300;
    }
}

.sidebar {
    background-color: lighten($bg, 2%);
    padding: 20px;
    height: 100vh;
}

.user-block {
    background-color: $light-gray;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.05);
    color: $white;
    border-radius: 15px;
    padding: 15px;
    transition: $transition;
    display: flex;
    align-items: center;
}

.user-img {
    flex-shrink: 0;
    border-radius: 15px;
    width: 70px;
    height: 70px;
    background-color: rgba($white, 0.2);
    margin-inline-end: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    span {
        font-weight: 600;
        font-size: 2rem;
        user-select: none;
    }
}
.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    .user__username {
        font-weight: 500;
        font-size: 1.5rem;
        user-select: none;
    }
}

.logout-btn {
    font-weight: 300;
    font-size: 0.9rem;
    // text-decoration: underline;
    color: rgba($white, 0.5);
    transition: $transition;
    &:hover {
        text-decoration: underline;
        color: rgba($white, 0.8);
    }
}
.submit-btn {
    background-color: $blue;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
    color: $white;
    border-radius: 15px;
    padding: 5px 15px;
    outline: 1px solid transparent;
    transition: $transition;
    font-weight: 500;
    &:hover {
        background-color: lighten($blue, 10%);
    }
    &:focus,
    &:focus-visible {
        outline: 1px solid $blue;
    }
}
.btns-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.login-btn {
    font-size: 1.5rem;
    font-weight: 600;
}
.signup-btn {
    font-size: 1.5rem;
    font-weight: 600;
}


main {
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    margin-block-start: 50px;
}

.nav-block {
    display: flex;
    flex-direction: column;

    .nav-block__title {
        font-weight: 500;
        font-size: 1.2rem;
        user-select: none;
        cursor: pointer;
    }
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    .nav-block__title_admin a {
        color: rgba($blue, 0.5);
    }
}

.user-info {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.clear-image-block {
    label {
        font-size: 1rem;
        font-weight: 400;
    }
}

@media screen and (max-width: 1200px) {
    .sidebar {
        margin-block-end: 20px;
        height: 100%;
        width: 100%;
    }
    main {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .current-user-message {
        margin-left: auto;
        margin-right: 0;
    }
}
