@import "reset";
@import "variables";

::selection {
    background: $blue;
}

body {
    background-color: $bg;
    overflow-x: hidden;
    height: 100%;
    position: relative;
    .bg {
        mask-image: linear-gradient(to bottom, transparent, black);
        -webkit-mask-image: linear-gradient(to bottom, transparent, black);
        width: 100vw;
        height: 100%;
        background: url("../img/bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }

    .bg-grid {
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/grid.svg");
        mask-image: linear-gradient(to bottom, transparent, black);
        -webkit-mask-image: linear-gradient(to bottom, transparent, black);
        z-index: -1;
    }

    color: $white;
}

.wrapper {
    min-height: 100vh;
}

.title {
    margin-block-end: 35px;
    margin-block-start: 35px;
    text-align: center;
    .title__img {
        width: 150px;
        height: 150px;
    }
}

.description {
    margin-block-end: 50px;
    font-size: 1.2rem;

}
.menu-btn {
    display: flex;
    justify-content: center;
    cursor: pointer;

    &.active {
        .menu-ico_arrow svg {
            transform: rotate(-90deg);
        }
    }
}

.menu-ico {
    width: 25px;
    height: 25px;

    svg {
        width: 100%;
        height: 100%;
        fill: $white;
        transition: 0.5s ease;
    }
}

.menu-ico_arrow {
    svg {
        transform: rotate(90deg);
        fill: $white;
    }

    &:hover {
        svg {
            fill: rgba($white, 0.2);
        }
    }
}

input:not([type="checkbox"]):not([type="radio"]),
button,
textarea {
    background-color: $gray;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.05);
    color: $white;
    border-radius: 15px;
    padding: 5px 15px;
    outline: 1px solid transparent;
    transition: $transition;

    &:hover {
        background-color: lighten($gray, 5%);
    }

    &:focus,
    &:focus-visible {
        outline: 1px solid $blue;
    }
}

.menu {
    overflow: hidden;
    position: relative;
}

nav {
    display: flex;
    flex-direction: column;
    margin-block-start: 50px;
    overflow: hidden;
    transition: 500ms ease;
    display: block;
    height: 0;
    margin-block-start: 0;
}

.nav-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    .nav-block__title {
        font-weight: 500;
        font-size: 1.2rem;
        user-select: none;
        cursor: pointer;

        &:hover {
            background-color: transparent;
        }
    }

    .nav-block__title_admin a {
        color: rgba($blue, 0.5);
    }
}

.burger-icon {
    margin-left: 5px;
    margin-top: 5px;
    position: relative;
    user-select: none;

    &:hover {
        color: $gray;
        transition: all 0.25s;
    }
}

input[type="button"],
input[type="submit"],
button {
    cursor: pointer;
}

.search-input {
    margin-block-end: 15px;
}

.confirmation {
    z-index: 9999;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 15rem;
    background-color: rgba($bg, 0.6);
    backdrop-filter: blur(8px);
    display: none;

    .confirmation__text-container,
    .confirmation-top {
        margin-left: auto;
        margin-right: auto;
        width: 65%;
    }

    .confirmation__text-container {
        align-items: center;
        justify-content: center;
        background-color: rgba($light-gray, 0.7);
        box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
        max-height: 250px;
        border-radius: 15px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 5px 25px;

        .title {
            text-align: center;

            .group-name {
                font-weight: 600;
                color: $red;
            }
        }
    }
}

.close-confirm {
    right: 15px;
    position: absolute;
}


.chat {
    display: flex;
    flex-direction: column;
    max-height: 85vh;
}

.chat__sendings {
    display: flex;
    flex-direction: row;
    margin: 0;

    #chat-message-input {
        box-shadow: none;
        border: 1px solid $gray;
        border-right-width: 0;
    }

    #chat-message-submit {
        box-shadow: none;
        border: 1px solid $gray;
        border-left-width: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 20px;
            height: 20px;
            transition: $transition;
            stroke: $blue;
            stroke-width: 2px;
            fill: transparent;
        }
    }
}

.chat__options,
.confirmation-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid $gray;
    backdrop-filter: blur(8px);
    background-color: rgba($gray, 0.7);
    color: $white;
    padding: 5px 15px;
    height: 36px;
    display: flex;
    align-items: center;

    .vl {
        width: 1px;
        height: 100%;
        border-radius: 10000px;
        background-color: $gray;
        margin: 0 15px;
    }
}

.chat__group-slug, a.chat__user-link {
    color: $lighter-gray;
}

.chat__members-count {
    display: flex;
    align-items: center;

    span {
        color: $lighter-gray;
    }

    svg {
        fill: $lighter-gray;
        width: 20px;
        height: 20px;
        margin-inline-end: 5px;
    }
}

.chat__clear-messages,
.close-confirm {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 20px;

    svg {
        fill: $red;
        transition: fill $transition;
    }

    &:hover {
        svg {
            fill: rgba($red, 0.7);
        }
    }

    &.chat__clear-messages_in-chat {
        margin-left: auto;
    }
}

.chat__edit {
    display: block;
    margin-left: auto;
    width: 20px;
    height: 20px;
    cursor: pointer;

    svg {
        fill: $blue;
        transition: fill $transition;
    }

    &:hover {
        svg {
            fill: rgba($blue, 0.7);
        }
    }
}

#id_group_members {
    max-height: 350px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 14px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $light-gray;
        border-radius: 10000px;
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
    }
}

#chat-log {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    padding: 15px;
    top: 0;
    border: 1px solid $gray;
    border-bottom-width: 0;
    border-top-width: 0;
    border-radius: 0;
    backdrop-filter: blur(8px);
    background-color: rgba($sidebar, 0.7);

    &::-webkit-scrollbar {
        width: 14px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $light-gray;
        border-radius: 10000px;
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
    }
}

.chat-log__title-message-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    span {
        font-weight: 500;
        font-size: 1.2rem;
        user-select: none;
        background-color: $bg;
        box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
        color: $white;
        border-radius: 100000px;
        padding: 5px 15px;
        border: 1px solid $red;
    }

    a {
        font-weight: 600;
    }
}

.chats-list {
    max-height: 70%;
    overflow-y: scroll;
    border-radius: 15px;
    margin-top: 15px;
    backdrop-filter: blur(8px);
    background-color: rgba($light-gray, 0.2);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.05);

    &::-webkit-scrollbar {
        width: 0;
    }
}

a.chats-list-item {
    transition: $transition;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 15px;

    .chats-list-item__name {
        display: flex;
        align-items: baseline;

        svg {
            width: 15px;
            height: 15px;
            fill: $white;
            margin-inline-end: 5px;
        }
    }

    &:first-child {
        padding-top: 15px;
        padding-bottom: 5px;
    }

    &:last-child {
        padding-bottom: 15px;
    }

    &:not(:first-child) {
        border-top: 1px solid $gray;
        padding: 5px 15px;
    }

    &:hover {
        background-color: rgba($light-gray, 0.7);
    }

    &.chats-list-item_active {
        background-color: rgba($blue, 0.2);
    }
}

.chats-list-item__img {
    flex-shrink: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: $lighter-gray;
    margin-inline-end: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    user-select: none;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    span {
        font-weight: 600;
        font-size: 2rem;
        user-select: none;
    }
}

.message {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.05);
    padding: 7px 15px;
    background-color: $transparented-light-gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 125px;
    max-width: 75%;

    &.current-user-message {
        background-color: $light-gray;
    }
}

.message__time {
    font-size: 0.6rem;
    opacity: 0.7;
    font-weight: 300;
    align-self: flex-end;
    margin-left: 50px;
}

.message__text {
    overflow-wrap: break-word;
    margin: 0;
}

.message__author {
    color: $blue;
    font-size: 1.1rem;
    font-weight: 500;
    margin-block-end: 2px;
}

textarea#chat-message-input {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    max-height: 25vh;
    resize: none;
    width: 100%;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.base-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $gray;
    backdrop-filter: blur(8px);
    background-color: rgba($sidebar, 0.7);
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto;

    .base-form__errors {
        font-size: 1rem;
        margin-block-end: 5px;
        display: flex;
        flex-direction: column;
    }

    .base-form__form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    button {
        width: max-content;
    }
}

.base-form__form-row {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
        margin-block-end: 20px;
    }

    label {
        margin-inline-end: 5px;
        font-size: 1.1rem;
        font-weight: 500;
    }

    small {
        width: 100%;
        margin-block-start: 5px;
        opacity: 0.5;
    }

    input {
        width: 100%;
    }

    input[type="checkbox"] {
        display: inline-block;
        width: max-content;
        margin-inline-end: 5px;
    }

    .base-form__image-link {
        display: block;
        width: 100%;
        text-decoration: underline;
        color: $blue;
        margin-block-end: 5px;
    }
}

.base-form__link {
    margin-block-start: 5px;

    a {
        text-decoration: underline;
        color: $blue;
    }
}

.base-form__star {
    color: rgba($blue, 0.5);
    font-size: 1rem;
}

.base-form__field-errors,
.base-form__errors {
    display: flex;
    flex-direction: column;
    margin-block-end: 5px;

    span {
        color: $red;
        font-size: 1rem;
        font-weight: 300;
    }
}

.sidebar {
    padding: 20px;
    height: 100vh;
}

.sidebar__logo {
    width: 100%;
    margin-block-end: 20px;
}

.sidebar__container {
    backdrop-filter: blur(8px);
    background-color: rgba($light-gray, 0.2);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 15px;
    margin-top: 5px;

    .hr {
        width: 100%;
        height: 1px;
        background-color: $gray;
        margin: 20px auto;
        margin-bottom: 5px;
    }
}

.user-block {
    color: $white;
    transition: $transition;
    display: flex;
    align-items: center;
    width: 100%;
    // overflow: hidden;
    // &::-webkit-scrollbar {
    //     width: 5px;
    // }
    // &::-webkit-scrollbar-thumb {
    //     background-color: rgba($light-gray, .2);
    //     border-radius: 10000px;
    //     border: 5px solid rgba(0, 0, 0, 0);
    //     background-clip: padding-box;
    // }
}

.user-img {
    flex-shrink: 0;
    border-radius: 15px;
    width: 70px;
    height: 70px;
    background-color: $lighter-gray;
    margin-inline-end: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    user-select: none;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    span {
        font-weight: 600;
        font-size: 2rem;
        user-select: none;
    }
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;

    .user__username {
        display: block;
        max-width: 100%;
        font-weight: 500;
        font-size: 1.5rem;
        user-select: none;
        margin-inline-end: 3px;
        overflow-wrap: break-word;
    }
}

.create-group-btn {
    margin-block-end: 20px;
}

.find-friend-btn {
    margin-block-end: 20px;
}

.logout-btn {
    font-weight: 300;
    font-size: 0.9rem;
    user-select: none;
    color: rgba($white, 0.5);
    transition: $transition;

    &:hover {
        text-decoration: underline;
        color: rgba($white, 0.8);
    }
}
.form-buttons-container {
    display: flex;
    justify-content: space-around;
}

.submit-btn {
    background-color: $blue;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
    color: $white;
    border-radius: 15px;
    padding: 5px 15px;
    outline: 1px solid transparent;
    transition: $transition;
    font-weight: 500;

    &:hover {
        background-color: lighten($blue, 10%);
    }

    &:focus,
    &:focus-visible {
        outline: 1px solid $blue;
    }
    min-width: 35%;
}
.delete-btn {
    background-color: $red;
    align-items: center;
    &:hover {
        background-color: lighten($red, 10%);
    }
}

.btns-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login-btn {
    font-size: 1.5rem;
    font-weight: 600;
}

.signup-btn {
    font-size: 1.5rem;
    font-weight: 600;
}

main {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 20px 0;
}

.clear-image-block {
    label {
        font-size: 1rem;
        font-weight: 400;
    }
}

.clear_messages_confirm {
    display: flex;
    align-items: center;
    margin-block-start: 20px;

    a {
        font-size: 1.2rem;

        &:first-child {
            margin-inline-end: 10px;
        }
    }
}

.go-back-btn {
    font-size: 1.2rem;
}

.user-detail-container {
    backdrop-filter: blur(8px);
    background-color: rgba($light-gray, 0.2);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 15px;
}

.user-info {
    display: flex;
    flex-direction: column;

    .user-img {
        width: 128px;
        height: 128px;
    }
}

.user-info__top {
    display: flex;
    align-items: center;
    margin-block-end: 15px;
}

.user-info__row {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
        margin-block-end: 5px;
    }

    .user-info__row-title {
        color: $light-gray;
    }

    .user-info__value {
        font-weight: 500;
        font-size: 1.2rem;
        overflow-wrap: break-word;
    }
}

.user-info__name {
    font-size: 1.5rem;
    font-weight: 500;
}

@media screen and (max-width: 1198px) {
    .sidebar {
        margin-block-end: 20px;
        height: 100%;
        width: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .current-user-message {
        margin-left: auto;
        margin-right: 0;
    }

    .title {
        margin-block-end: 35px;
        margin-block-start: 0;
    }
}