*,
html,
::before,
::after {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth; }

a,
a:visited, a:hover {
  color: #f5f5f5;
  text-decoration: none; }

fieldset {
  border: none; }

input,
textarea,
button {
  font-family: 'Istok Web', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none; }

p {
  margin-bottom: 0; }

body {
  background-color: #0b1120;
  color: #f5f5f5; }

.wrapper {
  min-height: 100vh; }

input:not([type="checkbox"]):not([type="radio"]),
button,
textarea {
  background-color: #1e293b;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.05);
  color: #f5f5f5;
  border-radius: 15px;
  padding: 5px 15px;
  outline: 1px solid transparent;
  transition: 0.15s ease-in; }
  input:not([type="checkbox"]):not([type="radio"]):hover,
  button:hover,
  textarea:hover {
    background-color: #27354c; }
  input:not([type="checkbox"]):not([type="radio"]):focus, input:not([type="checkbox"]):not([type="radio"]):focus-visible,
  button:focus,
  button:focus-visible,
  textarea:focus,
  textarea:focus-visible {
    outline: 1px solid #0eaef6; }

textarea {
  resize: vertical;
  width: 100%; }

input[type="button"],
input[type="submit"],
button[type="submit"] {
  cursor: pointer; }

.chat {
  display: flex;
  flex-direction: column;
  gap: 20px; }

#chat-log {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 80vh;
  overflow-y: scroll;
  padding: 15px;
  top: 0;
  border: 1px solid #1e293b;
  border-radius: 15px;
  font-size: 0.85rem; }
  #chat-log::-webkit-scrollbar {
    width: 0px; }
  #chat-log::-webkit-scrollbar-track {
    background-color: #1e293b;
    border-radius: 10000px; }
  #chat-log::-webkit-scrollbar-thumb {
    background-color: #353f4f;
    border-radius: 10000px; }

.message {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.05);
  padding: 7px 15px;
  background-color: rgba(53, 63, 79, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 125px;
  max-width: 75%; }

.current-user-message {
  background-color: #353f4f; }

.message__time {
  font-size: 0.7rem;
  opacity: 0.7;
  font-weight: 300;
  align-self: flex-end; }

.message__text {
  overflow-wrap: break-word;
  margin: 0; }

.message__author {
  color: #0eaef6;
  font-size: 1rem;
  font-weight: 500;
  margin-block-end: 2px; }

.base-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #1e293b;
  border-radius: 15px;
  padding: 10px;
  margin: 0 auto; }
  .base-form .base-form__errors {
    font-size: 1rem;
    margin-block-end: 5px;
    display: flex;
    flex-direction: column; }
  .base-form .base-form__form {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .base-form button {
    width: max-content; }

.base-form__form-row {
  display: flex;
  flex-direction: column;
  margin-block-end: 20px; }
  .base-form__form-row label {
    margin-inline-end: 5px;
    font-size: 1.1rem;
    font-weight: 500; }
  .base-form__form-row small {
    width: 100%;
    margin-block-start: 5px;
    opacity: 0.5; }
  .base-form__form-row input {
    width: 100%; }
  .base-form__form-row input[type="checkbox"] {
    display: inline-block;
    width: max-content;
    margin-inline-end: 5px; }
  .base-form__form-row .base-form__image-link {
    display: block;
    width: 100%;
    text-decoration: underline;
    color: #0eaef6;
    margin-block-end: 5px; }

.base-form__link {
  margin-block-start: 5px; }

.base-form__star {
  color: rgba(14, 174, 246, 0.5);
  font-size: 1rem; }

.base-form__field-errors, .base-form__errors {
  display: flex;
  flex-direction: column;
  margin-block-end: 5px; }
  .base-form__field-errors span, .base-form__errors span {
    color: #BE185D;
    font-size: 1rem;
    font-weight: 300; }

.sidebar {
  background-color: #0e1528;
  padding: 20px;
  height: 100vh; }

.user-block {
  background-color: #353f4f;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.05);
  color: #f5f5f5;
  border-radius: 15px;
  padding: 15px;
  transition: 0.15s ease-in;
  display: flex;
  align-items: center; }

.user-img {
  flex-shrink: 0;
  border-radius: 15px;
  width: 70px;
  height: 70px;
  background-color: rgba(245, 245, 245, 0.2);
  margin-inline-end: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative; }
  .user-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .user-img span {
    font-weight: 600;
    font-size: 2rem;
    user-select: none; }

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%; }
  .user .user__username {
    font-weight: 500;
    font-size: 1.5rem;
    user-select: none; }

.logout-btn {
  font-weight: 300;
  font-size: 0.9rem;
  color: rgba(245, 245, 245, 0.5);
  transition: 0.15s ease-in; }
  .logout-btn:hover {
    text-decoration: underline;
    color: rgba(245, 245, 245, 0.8); }

.submit-btn {
  background-color: #0eaef6;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  color: #f5f5f5;
  border-radius: 15px;
  padding: 5px 15px;
  outline: 1px solid transparent;
  transition: 0.15s ease-in;
  font-weight: 500; }
  .submit-btn:hover {
    background-color: #3fbff8; }
  .submit-btn:focus, .submit-btn:focus-visible {
    outline: 1px solid #0eaef6; }

.btns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; }

.login-btn {
  font-size: 1.5rem;
  font-weight: 600; }

.signup-btn {
  font-size: 1.5rem;
  font-weight: 600; }

main {
  display: flex; }

nav {
  display: flex;
  flex-direction: column;
  margin-block-start: 50px; }

.nav-block {
  display: flex;
  flex-direction: column; }
  .nav-block .nav-block__title {
    font-weight: 500;
    font-size: 1.2rem;
    user-select: none;
    cursor: pointer; }
  .nav-block:not(:last-child) {
    margin-bottom: 20px; }
  .nav-block .nav-block__title_admin a {
    color: rgba(14, 174, 246, 0.5); }

.user-info {
  display: flex;
  flex-direction: column;
  margin: 20px 0; }

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px; }

.clear-image-block label {
  font-size: 1rem;
  font-weight: 400; }

@media screen and (max-width: 1200px) {
  .sidebar {
    margin-block-end: 20px;
    height: 100%;
    width: 100%; }
  main {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px; }
  .current-user-message {
    margin-left: auto;
    margin-right: 0; } }

/*# sourceMappingURL=style.css.map */