@import "reset";
@import "variables";
body {
    background-color: $bg;
 
    .bg {
        mask-image: linear-gradient(to bottom, transparent, black);
        -webkit-mask-image: linear-gradient(to bottom, transparent, black);
        width: 100vw;
        height: 100vh;
        background: url("../img/bg.png");
        background-repeat: none;
        background-position: center;
        background-size: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .bg-grid {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../img/grid.svg');
        mask-image: linear-gradient(to bottom, transparent, black);
        -webkit-mask-image: linear-gradient(to bottom, transparent, black);
    }
    color: $white;
}
.wrapper {
    min-height: 100vh;
}
.title {
    margin-block-end: 20px;
}

input:not([type="checkbox"]):not([type="radio"]),
button,
textarea {
    background-color: $gray;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.05);
    color: $white;
    border-radius: 15px;
    padding: 5px 15px;
    outline: 1px solid transparent;
    transition: $transition;
    &:hover {
        background-color: lighten($gray, 5%);
    }
    &:focus,
    &:focus-visible {
        outline: 1px solid $blue;
    }
}

textarea {
    resize: none;
    width: 100%;
    padding: 15px;
}

.burger-container {
    border-radius: 5px;
    margin-bottom: .75rem;
    background-color: $light-gray;
}

.hamburger-menu {
    overflow: hidden;
    position: relative;
}
  
.hamburger-menu #myLinks {
    overflow: hidden;
    transition: height 500ms ease;
    display: none;
}
  
.hamburger-menu span {
    color: white;
    padding: 14px 16px;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    font-size: 17px;
    display: block;
    border-radius: 5px;

    &:hover {
        background-color: #ddd;
        color: black;
    }
}

.burger-icon {
    margin-left: 5px;
    margin-top: 5px;
    position: relative;
    user-select: none;
    &:hover {
        color: $gray;
        transition: all .25s;
    }
}

input[type="button"],
input[type="submit"],
button {
    cursor: pointer;
}

.chat {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 85vh;
}

#chat-log {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    padding: 15px;
    top: 0;
    border: 1px solid $gray;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 10px;
    backdrop-filter: blur(8px);
    background-color: rgba(15, 23, 42, .7);
    &::-webkit-scrollbar {
        width: 14px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $light-gray;
        border-radius: 10000px;
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
    }
}
.chat-log__title-message-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    span {
        font-weight: 500;
        font-size: 1.2rem;
        user-select: none;
        background-color: $bg;
        box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
        color: $white;
        border-radius: 100000px;
        padding: 5px 15px;
        border: 1px solid $red;
    }
    a {
        font-weight: 600;
    }
}

.message {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.05);
    padding: 7px 15px;
    background-color: $transparented-light-gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 125px;
    max-width: 75%;
    &.current-user-message {
        background-color: $light-gray;
    }
}

.message__time {
    font-size: 0.6rem;
    opacity: 0.7;
    font-weight: 300;
    align-self: flex-end;
    margin-left: 50px;
    margin-top: -12px;
}
.message__text {
    overflow-wrap: break-word;
    margin: 0;
}
.message__author {
    color: $blue;
    font-size: 1.1rem;
    font-weight: 500;
    margin-block-end: 2px;
}
.message__sendings-container {
    display: flex;
    flex-direction: row;
    margin: 0
}
.message__input {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    max-height: 25vh;
    height: calc(1rem + 20px);
}
#chat-message-submit {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
textarea#chat-message-input {
    resize: none;
    width: 100%;
    &::-webkit-scrollbar {
        background-color: transparent;
        border-radius: 15px;
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        // border: 3px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: 9999px;
        background-color: $light-gray;
    }
}

.base-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $gray;
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto;
    .base-form__errors {
        font-size: 1rem;
        margin-block-end: 5px;
        display: flex;
        flex-direction: column;
    }
    .base-form__form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    button {
        width: max-content;
    }
}
.base-form__form-row {
    display: flex;
    flex-direction: column;
    margin-block-end: 20px;
    label {
        margin-inline-end: 5px;
        font-size: 1.1rem;
        font-weight: 500;
    }
    small {
        width: 100%;
        margin-block-start: 5px;
        opacity: 0.5;
    }
    input {
        width: 100%;
    }
    input[type="checkbox"] {
        display: inline-block;
        width: max-content;
        margin-inline-end: 5px;
    }
    .base-form__image-link {
        display: block;
        width: 100%;
        text-decoration: underline;
        color: $blue;
        margin-block-end: 5px;
    }
}

.base-form__link {
    margin-block-start: 5px;
}
.base-form__star {
    color: rgba($blue, 0.5);
    font-size: 1rem;
}

.base-form__field-errors,
.base-form__errors {
    display: flex;
    flex-direction: column;
    margin-block-end: 5px;
    span {
        color: $red;
        font-size: 1rem;
        font-weight: 300;
    }
}

.sidebar {
    // background-color: $sidebar;
    padding: 20px;
    height: 100vh;
}
.sidebar__logo {
    width: 100%;
    margin-block-end: 20px;
}

.user-block {
    background-color: $light-gray;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.05);
    color: $white;
    padding: 15px;
    transition: $transition;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $gray;
}

.user-img {
    flex-shrink: 0;
    border-radius: 15px;
    width: 70px;
    height: 70px;
    background-color: rgba($white, 0.2);
    margin-inline-end: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    span {
        font-weight: 600;
        font-size: 2rem;
        user-select: none;
    }
}
.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    .user__username {
        font-weight: 500;
        font-size: 1.5rem;
        user-select: none;
    }
}

.logout-btn {
    font-weight: 300;
    font-size: 0.9rem;
    // text-decoration: underline;
    color: rgba($white, 0.5);
    transition: $transition;
    &:hover {
        text-decoration: underline;
        color: rgba($white, 0.8);
    }
}
.submit-btn {
    background-color: $blue;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
    color: $white;
    border-radius: 15px;
    padding: 5px 15px;
    outline: 1px solid transparent;
    transition: $transition;
    font-weight: 500;
    &:hover {
        background-color: lighten($blue, 10%);
    }
    &:focus,
    &:focus-visible {
        outline: 1px solid $blue;
    }
}
.btns-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.login-btn {
    font-size: 1.5rem;
    font-weight: 600;
}
.signup-btn {
    font-size: 1.5rem;
    font-weight: 600;
}

main {
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    margin-block-start: 50px;
}

.nav-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    .nav-block__title {
        font-weight: 500;
        font-size: 1.2rem;
        user-select: none;
        cursor: pointer;
    }

    .nav-block__title_admin a {
        color: rgba($blue, 0.5);
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.clear-image-block {
    label {
        font-size: 1rem;
        font-weight: 400;
    }
}

.clear_messages_confirm {
    display: flex;
    align-items: center;
    margin-block-start: 20px;
    a {
        font-size: 1.2rem;
        &:first-child {
            margin-inline-end: 10px;
        }
    }
}
.go-back-btn {
    font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
    .sidebar {
        margin-block-end: 20px;
        height: 100%;
        width: 100%;
    }
    main {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .current-user-message {
        margin-left: auto;
        margin-right: 0;
    }
}
